* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #06181C;
}

#page {
  display: flex;
  flex-direction: column;
}

table, a {
  color: aliceblue;
}

th {
  border: 2px solid green;
}

td {
  border: 2px solid blue;
}